<%- include('../compartido/navbar/navbar')%>

<div class="container main-container">
    <h1 align="center">Mis Facturas<i class="fas fa-cart-plus"></i></h1>
    <hr>

    <div class="row">
        <div class="col-md-12">

            <%if(error){%>
                <div class="alert alert-danger" role="alert">
                    <%= error%>
                </div>
            <%}%>

                <%if(mensaje){%>
                    <div class="alert alert-success" role="alert">
                        <%= mensaje%>
                    </div>
                <%}%>

            <div class="table-responsive-sm">

                <table class="table">
                    <thead class="thead-dark">
                    <tr  align="center">
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Valor a Pagar</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>

                    <tbody>

                        <%if(arregloFacturas.length > 0){%>
                        <%arregloFacturas.forEach((objeto,index)=>{%>
                            <tr align="center">
                                <td><%= index + 1 %></td>
                                <td><%= objeto.tipo%></td>
                                <td><%= objeto.fechaHora.toLocaleString()%></td>
                                <td><%= Number(objeto.precioTotalConIVA).toFixed(2)%></td>

                                <td>
                                    <form action="/bioapp/eliminar/factura/<%=objeto.id%>" method="post">
                                        <%if(objeto.tipo === 'carrito'){%>

                                            <a href="/bioapp/vistaFinalizar/<%= objeto.id%>">
                                                <button type="button"
                                                        class="btn btn-primary"
                                                <%if(Number(objeto.precioTotalConIVA) == 0){%>
                                                        disabled
                                                        <%}%>>
                                                    Finalizar Compra
                                                </button>
                                            </a>

                                            <a href="/bioapp/vistaEditar/factura/<%= objeto.id%>">

                                                <button class="btn btn-success"
                                                        type="button"
                                                        <%if(Number(objeto.precioTotalConIVA) == 0){%>
                                                            disabled
                                                        <%}%>>
                                                    Editar
                                                </button>


                                            </a>

                                        <%}else{%>

                                                <a href="/bioapp/vistaFinalizar/<%= objeto.id%>"
                                                    role="button"
                                                    class="btn btn-primary">
                                                    Visualizar
                                                </a>

                                        <%}%>
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    name="button">
                                                Eliminar
                                            </button>

                                        </form>

                                </td>
                            </tr>
                        <%})%>
                        <%}else{%>
                            <div class="alert alert-danger" role="alert">
                                No existe registros
                            </div>
                        <%}%>

                    </tbody>
                </table>


            </div>
            <br>
            <br>
        </div>
        <div class="col text-center">
            <a href="/bioapp/home" role="button" class="btn btn-danger">Regresar</a>
        </div>

    </div>

</div>